<div class="mx-auto max-w-7xl px-4 py-24 sm:px-6 lg:px-8">
  <div class="rounded-2xl bg-gray-50 px-6 py-16 sm:p-16">
    <div class="mx-auto max-w-xl lg:max-w-none">
      <div class="text-center">
        <h2 class="text-2xl font-bold tracking-tight text-gray-900"><%= t("incentives.title") %></h2>
      </div>
      <div class="mx-auto mt-12 grid max-w-sm grid-cols-1 gap-x-8 gap-y-10 sm:max-w-none lg:grid-cols-3">
        <div class="text-center sm:flex sm:text-left lg:block lg:text-center">
          <div class="sm:flex-shrink-0">
            <div class="flow-root">
              <svg class="mx-auto h-16 w-16" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25" />
              </svg>
            </div>
          </div>
          <div class="mt-3 sm:ml-6 sm:mt-0 lg:ml-0 lg:mt-6">
            <h3 class="text-sm font-medium text-gray-900"><%= t('incentives.healthy.cta') %></h3>
            <p class="mt-2 text-sm text-gray-500"><%= t('incentives.healthy.description') %></p>
          </div>
        </div>
        <div class="text-center sm:flex sm:text-left lg:block lg:text-center">
          <div class="sm:flex-shrink-0">
            <div class="flow-root">
              <svg class="mx-auto h-16 w-16" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
              </svg>
            </div>
          </div>
          <div class="mt-3 sm:ml-6 sm:mt-0 lg:ml-0 lg:mt-6">
            <h3 class="text-sm font-medium text-gray-900"><%= t('incentives.easy.cta') %></h3>
            <p class="mt-2 text-sm text-gray-500"><%= t('incentives.easy.description') %></p>
          </div>
        </div>
        <div class="text-center sm:flex sm:text-left lg:block lg:text-center">
          <div class="sm:flex-shrink-0">
            <div class="flow-root">
              <svg class="mx-auto h-16 w-16" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M18.364 18.364A9 9 0 0 0 5.636 5.636m12.728 12.728A9 9 0 0 1 5.636 5.636m12.728 12.728L5.636 5.636" />
              </svg>
            </div>
          </div>
          <div class="mt-3 sm:ml-6 sm:mt-0 lg:ml-0 lg:mt-6">
            <h3 class="text-sm font-medium text-gray-900"><%= t('incentives.free.cta') %></h3>
            <p class="mt-2 text-sm text-gray-500"><%= t('incentives.free.description') %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>