<div class="mx-auto max-w-7xl">

  <div class="mx-auto max-w-2xl text-center">
    <h1 class="text-3xl font-bold tracking-tight text-slate-900 sm:text-4xl"><%= t("home.title") %></h1>
    <h2 class="mt-2 text-lg leading-8 text-slate-600"><%= t("home.subtitle") %></h2>
  </div>

  <div class="mx-auto my-4 w-full sm:w-2/3">
    <%= render 'shared/search', label: t('search.label'), placeholder: t('search.placeholder'), path: recipes_path %>
    <p class="mt-2 text-center text-slate-500">
      <%= link_to t('home.add_recipe_text'), new_recipe_path, class: "stovaro-link text-xs underline" %>
    </p>
  </div>

  <%= render "latest" %>
  <%= render "trending" %>
  <%= render "community" %>

  <%= render "categories" %>

  <%= render "incentives" %>
</div>
