<nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
  <div class="flex lg:flex-1">
    <%= link_to root_path, class: "-m-1.5 p-1.5" do %>
      <span class="sr-only">Poor Man With a Pan</span>
      <img class="h-16 w-auto" src="/logo.webp" alt="">
    <% end %>
  </div>
  <div class="flex lg:hidden">
    <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700" data-action="click->mobile-menu#toggle">
      <span class="sr-only">Open main menu</span>
      <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
    </button>
  </div>
  <div class="hidden lg:flex lg:gap-x-12">
    <%= link_to "Recipes", recipes_path, class: "text-sm font-semibold leading-6 text-gray-900" %>
    <%= link_to "Categories", categories_path, class: "text-sm font-semibold leading-6 text-gray-900" %>
    <%= link_to "Featured", featured_index_path, class: "text-sm font-semibold leading-6 text-gray-900" %>
    <%= link_to "About", about_path, class: "text-sm font-semibold leading-6 text-gray-900" %>
  </div>
  <div class="hidden lg:flex lg:flex-1 lg:justify-end">
    <% if Current.user %>
      <%= link_to Current.user.email, "#", class: "text-sm font-semibold leading-6 text-gray-900 mr-3" %>
      <%= button_to "Log Out", session_path(Current.user), method: :delete, class: "text-sm font-semibold leading-6 text-gray-900", data: { confirm: "Are you sure?" } %>
    <% else %>
      <%= link_to "Log In", new_session_path, class: "text-sm font-semibold leading-6 text-gray-900" %>
    <% end %>
  </div>
</nav>